<!--
    File: base.html
    Author: Varada Rohokale (vroho@bu.edu), 3/20/2026
    Description: Base template for the voter_analytics application.
    This file provides shared page layout and navigation links.
-->
{% load static %}
<html>

<head>
    <title>Voter Analytics</title>
</head>

<body>
    <header>
        <h1>Voter Analytics</h1>
        <link rel="stylesheet" href="{% static 'voters.css' %}">

        <nav>
            <ul>
            <li>
                <a href="{% url 'voters' %}{% if current_query %}?{{ current_query }}{% endif %}">
                    All Voters
                </a>
            </li>
            <li>
                <a href="{% url 'graphs' %}{% if current_query %}?{{ current_query }}{% endif %}">
                    Graphs
                </a>
            </li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>