<!--
    File: order_detail.html
    Author: Varada Rohokale (vroho@bu.edu), 4/30/2026
    Description: Displays detail information for one order.
-->

{% extends 'project/base.html' %}

{% block content %}
<h2>Order Detail</h2>

<div class="card">
    <p><strong>Order ID:</strong> {{ order.pk }}</p>
    <p><strong>Customer:</strong> {{ order.customer }}</p>
    <p><strong>Order Date:</strong> {{ order.order_date }}</p>
    <p><strong>Status:</strong> {{ order.get_status_display }}</p>
    <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
</div>
{% endblock %}