<!--
File: about.html
Author: Varada Rohokale (vroho@bu.edu), 1/29/2026
Description: Display an About page with short biographical information about Barack Obama and a note about the author.
-->

<!-- Extend the base template to reuse site wide layout and styling -->
{% extends "quotes/base.html" %}

<!-- Begin the content block that base.html will insert into the page -->
{% block content %}

<!-- Main page heading for the About page content -->
<div class="about-container">
    <h1>About</h1>

    <!-- Paragraph describing Barack Obama -->
    <p>
        Barack Obama is the 44th President of the United States, serving
        from 2009 to 2017. He is known for his leadership, advocacy for
        equality, and emphasis on civic engagement and social change.
        His speeches and writings have inspired millions around the world.
    </p>

    <!-- Paragraph describing the project purpose and author -->
    <p>
        This web application was created by Varada Rohokale as part of a
        Django web development project. The goal of this project is to
        practice building dynamic web pages using Django templates and
        static assets.
    </p>
</div>

{% endblock %}
<!-- End the content block -->