<!--
File: quote.html
Author: Varada Rohokale (vroho@bu.edu), 1/29/2026
Description: Display the quote of the day by showing a randomly selected
quote and image using Django template variables.
-->

{% extends "quotes/base.html" %}

{% block content %}
<!-- Main heading for the quote-of-the-day page -->
<h1>Quote of the Day</h1>

<!-- Display the randomly selected quote -->
<p>{{ quote }}</p>

<!-- Display the randomly selected image -->
<div class="img-square">
    <img class="qotd-img" src="{{ image }}" alt="Image of {{ person }}">
</div>

{% endblock %}