<!--
File: show_all.html
Author: Varada Rohokale (vroho@bu.edu), 1/29/2026
Description: Display all Barack Obama quotes first, followed by all
images of him from views.show_all using Django template for-loops.
-->

<!-- Extend the base template to reuse site wide layout and styling -->
{% extends "quotes/base.html" %}

<!-- Begin the content block that base.html will insert into the page -->
{% block content %}

<!-- Container for displaying all quotes and images -->
<div class="show-all">

    <!-- Section heading for the quotes -->
    <h1>Quotes by Barack Obama</h1>

    <!-- Loop through and display all quotes -->
    {% for quote in quotes %}
    <p>{{ quote }}</p>
    {% endfor %}

    <!-- Section heading for the images -->
    <h1>Images of Barack Obama</h1>

    <!-- Loop through and display all images -->
    {% for image in images %}
    <img src="{{ image }}" alt="Image of Barack Obama">
    {% endfor %}

</div>

{% endblock %}
<!-- End the content block -->