<!--
    File: logged_out.html
    Author: Varada Rohokale (vroho@bu.edu), 3/06/2026
    Description: Display a logout confirmation page for the
    mini_insta application after the user successfully logs out.
    Provide a link for the user to log in again.
-->

{% extends "mini_insta/base.html" %}

{% block content %}

<!-- Card container to confirm that the user has logged out
     of the mini_insta application. -->
<div class="post-form-card">
    <h2>You have been logged out.</h2>
</div>

{% endblock %}